# Python
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/
*.egg-info/
build/
dist/

# Warehouse y dbt
db/*.duckdb
db/*.duckdb.wal
dbt/target/
dbt/logs/
dbt/dbt_packages/
logs/

# Quarto
_site/
.quarto/
/.jupyter_cache/

# Datos que no se versionan
data/raw/_large/
data/raw/**/*.tmp

# Secretos
.env
*.p8
*.pem

# Sistema
.DS_Store
Thumbs.db

/.quarto/
